---
import Layout from "../layouts/Layout.astro";
import AboutMaster from "@components/AboutMaster.astro";
import { jackie } from "../data/jackie";

const body = jackie;
---

<Layout title="Nosotros" mountains={false}>
	<div class="flex flex-col gap-8">
		<AboutMaster
			img="/assets/jackie-chan.webp"
			title="Master Jackie Chan"
			body={body}
			alt="Master Jackie"
			reverse={false}
		/>
		<AboutMaster
			img="/assets/jackie-chan.webp"
			title="Master Jackie Chan"
			body={body}
			alt="Master Jackie"
			reverse={true}
		/>
	</div>
</Layout>
